<%- include("template/cabecera" , {titulo: "Index"})%>

    <h1>Index EJS</h1>
    <h3>Nombre del usuario : <%=Nombre%></h3>
    <h3>Apellido del usuario : <%=Apellido%></h3>
    <h3>Edad del usuario : <%=Edad%></h3>

<%- include("template/footer")%>