<%- include("template/cabecera", {titulo : "Mangas"})%>

    <h1>Lista de mangas</h1>
    <h3><%=Manga1%></h3>
    <h3><%=Manga2%></h3>
    <h3><%=Manga3%></h3>
    <h3><%=Manga4%></h3>

<%- include("template/footer")%>